<template>
    <div class="voting-wjt voting-wjt_post js-post-vote" :id="postId" data-type="2">
        <button type="button"
            class="btn voting-wjt__button "
            data-action="plus"
            :disabled="alreadyVoted || voteIsAdding"
            v-on:click="addVote(1)">
            <svg class="icon-svg_arrow-up" width="10" height="16">
                <use xlink:href="/images/svg/common-svg-sprite.svg#vote-arrow"></use>
            </svg>
        </button>
        <span class="voting-wjt__counter  js-score"
            :class="rating >= 0 ? 'voting-wjt__counter_positive' : 'voting-wjt__counter_negative'"
            :title="votesTitle">
            {{ rating }}
        </span>
        <button type="button"
            class="btn voting-wjt__button "
            data-action="minus"
            :disabled="alreadyVoted || voteIsAdding"
            v-on:click="addVote(-1)">
            <svg class="icon-svg_arrow-down" width="10" height="16">
                <use xlink:href="/images/svg/common-svg-sprite.svg#vote-arrow"></use>
            </svg>
        </button>
    </div>
</template>

<script>
import PostService from '../services/PostService';

export default {
    props: {
        postId: {
            type: Number,
            required: true
        },

        alreadyVoted: {
            type: Boolean,
            required: true
        },

        positiveVotes: {
            type: Number,
            required: true
        },

        negativeVotes: {
            type: Number,
            required: true
        }
    },

    data() {
        return {
            currentVoteValue: this.currentVote,
            positiveVotesCount: this.positiveVotes,
            negativeVotesCount: this.negativeVotes,
            voteIsAdding: false
        }
    },

    computed: {
        votesTotalCount() {
            return this.positiveVotesCount + this.negativeVotesCount;
        },

        rating() {
            return this.positiveVotesCount - this.negativeVotesCount;
        },

        votesTitle() {
            return `Всего голосов ${this.votesTotalCount}: ↑${ this.positiveVotesCount } и ↓${ this.negativeVotesCount }`;
        }
    },

    methods: {
        async addVote(value) {
            try {
                this.voteIsAdding = true;

                const {
                    positiveVotesCount,
                    negativeVotesCount
                } = await PostService.addVote(this.postId, value);

                this.positiveVotesCount = positiveVotesCount;
                this.negativeVotesCount = negativeVotesCount;

                this.alreadyVoted = true;
            } finally {
                this.voteIsAdding = false;
            }
        }
    }
}
</script>
